# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Project specific
access_token.txt
auth_code.txt
*.log
config.py  # Contains sensitive credentials
*.env
codes.env
crypto_watchlist.json
stock_watchlist.json
